.input-text{
    display: grid;
    margin: 15px 5px;
    border-radius: 9px;
    border: 0.8px solid #C4C4C4;
    border-top: 0;
    background-color: #eee;
}
.input-text-2{
    display: grid;
    margin: 15px 5px;
    border-radius: 9px;
    border: 0.8px solid #C4C4C4;
    background-color: #fff;
}
.input-text label {
    text-align: left;
    line-height: 1.0px;
    font-size: 0.6em;
    padding: 2px;
    width: 100px;
    opacity: 0.8;
    background-color: #fff;
    padding-bottom: 5px;
    color: #7C7C7C;
}
.input-text .class-input{
    border: 0;
    background-color: #eee;
    margin: 1px;
    padding: 0px 0px 10px 10px;
    outline: none;
    height: 20px;
}
.input-text-2 .class-input-2{
    border: 0;
    border-radius: 9px;
    margin: 1px;
    padding: 0px 5px;
    outline: none;
    height: 34px;
}
.no-background{ background-color: #fff; background: none}

button, .button-style {
    background: #0979A2;
    box-shadow: 0px;
    border: 0px;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 4px;
    margin: 0 auto;
}
.container {
    position: relative;
    width: 100%;
}
.vs--searchable .vs__dropdown-toggle{
    border-style: none;
    border: 0;
    height: 30px;
}
.modal-head{
    background: rgba(95, 149, 168, 0.5) !important;
    height: 38px;
    font-size: 16px;
    color: #333333;
    padding-bottom: 2px
}
