<template>
    <div class="container">
        <h1>Dashboard</h1>
        <div class="card-wrapper">
            <div class="content">
                <p><button @click="$bvModal.show('cash-balance')">Update Cash Balance</button></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="content">
                <p><button @click="$bvModal.show('bank-balance')">Update Bank Balance</button></p>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="content">
                <p><button @click="$bvModal.show('cash-balance')">Add Funds</button></p>
            </div>
        </div>

      <!-- Cash balance -->

        <b-modal id="cash-balance" hide-footer header-class="modal-head">
            <template v-slot:modal-title>
             Update cash balance
            </template>
            <div class="d-block text-center">
                <cashBalance />
            </div>
            <div class="row">
                <button class="button-style" block @click="$bvModal.show('insufficient-funds')">Submit</button>
            </div>
        </b-modal>

        <!-- Bank balance -->

        <b-modal id="bank-balance" hide-footer header-class="modal-head">
            <template v-slot:modal-title>
             Update bank balance
            </template>
            <div class="d-block text-center">
                <bankBalance />
            </div>
            <div class="row">
                <button class="button-style" block @click="$bvModal.show('insufficient-funds')">Submit</button>
            </div>
        </b-modal>

        <!-- Insufficient funds -->

        <b-modal id="insufficient-funds" hide-footer header-class="modal-head">
            <template v-slot:modal-title>
                Insufficient Funds
            </template>
            <div class="d-block text-center">
                <p>You only have ₦ 1000 in Access Bank (₦) </p> 
            </div>
            <div class="row">
                <button class="button-style" block @click="$bvModal.hide('insufficient-funds')">Update Bank Balance</button>
            </div>
        </b-modal>
    </div>

</template>

<script>
import { BModal, BForm  } from 'bootstrap-vue';
import cashBalance from './forms/cashbalance.vue'
import bankBalance from './forms/bankbalance.vue'

export default {
    name: 'Dashboard',
    components:{
        cashBalance,
        bankBalance
    },
    data(){
        return {
            
        };
    },
    directives:  {
     'b-modal': BModal,
     'b-form': BForm
    },
}
</script>

<style>
    .input-text{
        display: grid;
        margin: 15px 5px;
        border-radius: 9px;
        border: 0.8px solid #C4C4C4;
        border-top: 0;
        background-color: #eee;
    }
    .input-text-2{
        display: grid;
        margin: 15px 5px;
        border-radius: 9px;
        border: 0.8px solid #C4C4C4;
        background-color: #fff;
    }
    .input-text label {
        text-align: left;
        line-height: 1.0px;
        font-size: 0.6em;
        padding: 2px;
        width: 100px;
        opacity: 0.8;
        background-color: #fff;
        padding-bottom: 5px;
        
    }
    .input-text .class-input{
        border: 0;
        background-color: #eee;
        margin: 1px;
        padding-left: 5px;
        outline: none;
    }
    .input-text-2 .class-input-2{
        border: 0;
        border-radius: 9px;
        margin: 1px;
        padding: 5px;
        outline: none;
    }
    .no-background{ background-color: #fff; background: none}
    .modal-head{
        background: rgba(95, 149, 168, 0.5) !important;
        padding: 8px !important;
    }
    button, .button-style {
        background: #0979A2;
        box-shadow: 0px;
        border: 0px;
        padding: 5px 10px;
        color: #ffffff;
        border-radius: 4px;
        margin: 0 auto;
    }
    .container {
        position: relative;
        width: 100%;
    }
    .card-wrapper{
        width: 23.33333%;
        display: inline-flex;
        padding: 10px;
        background-color: rgba(167, 214, 231, 0.5);
        margin: 10px;
    }
    .card-wrapper .content {
        margin: 5px;
        width: 100%
    }
    .card-wrapper .content p {
        text-align: center;
    }
    .vs--searchable .vs__dropdown-toggle{
        border-style: none;
        border: 0
    }
</style>