<template>
    <form>
        <div class="input-text">
            <label>Previous cash balance</label>
            <input class="class-input" type="text" disabled value="Stanbic (₦) [₦ 400,300]" />
        </div>
        <div class="input-text no-background">
            <label>Source of funds</label>
            <v-select :clearable="false" v-model="defaultSelected" class="custom" :options="funds_source"></v-select>
        </div>
        <div class="input-text-2">
            <input class="class-input-2" type="text" placeholder="Amount (₦)"/>
        </div>
        <div class="input-text">
            <label>New bank balance</label>
            <input class="class-input" type="text" placeholder="Stanbic (₦) [₦ 400,300]"/>
        </div>
    </form>
</template>

<script>
export default {
    name: 'bankBalance',
    data(){
        return {
            defaultSelected: {
                label: '-- Select Source --'
            },
            funds_source: [
                {label: 'Access Bank #150000'},
                {label: 'Skye Bank #2000000'},
                {label: '-- Select Source --'}
            ]  
        };
    }
}
</script>
